[Unit]
Description=Watches the textile service
After=textile.service

[Service]
User=root
Group=root
Type=simple
PIDFile=/var/run/textile_watcher.pid
ExecStart=/boot_scripts/textile_watcher.sh

[Install]
WantedBy=multi-user.target
